POSTGRES_USER=ghostline
POSTGRES_PASSWORD=changeme
POSTGRES_DB=ghostline
POSTGRES_PORT=5432

FS_HOST=127.0.0.1
FS_PORT=8021
FS_PASSWORD=changeme

CONTAINER_RECORDINGS_DIR=/recordings
HOST_RECORDINGS_DIR=/home/debian/ghostline/recordings

OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:3b
PIPER_VOICE=en_US-lessac-medium
WHISPER_MODEL=small
